<!DOCTYPE html>
<html lang="zh-Hant">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>個人頁面</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='profile.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='navbar.css') }}">
</head>
<body>
    <div class="profile-container">
        <div class="avatar" id="avatar">
            <img id="avatar-image" src="https://picsum.photos/200/300" alt="頭像">
        </div>
        <div class="personal-info" id="personal-info">
            <h2>姓名：{{ user.username }}</h2>
            <p><strong>性別：</strong>{{ user.gender }}</p>
            <p><strong>生日：</strong>{{ user.birthday }}</p>
            <p><strong>自我介紹：</strong>{{ user.bio }}</p>
            <p><p><strong>個人網站：</strong><a href="{{ user.website_href }}">{{ user.website_name }}</a></p></p>
        </div>
    </div>
    <div class="articles-container">
        <h3>已發布的文章</h3>
        {% for post in posts %}
        <ul id="articles-list">
            <li><a href="/">{{post[2]}}</a> - {{post[6]}}</li>
        </ul>
        {% endfor %}
    </div>
    <div class="stats-container">
        <h3>活躍度</h3>
        <table>
            <thead>
                <tr>
                    <th>貼文數</th>
                    <th>按讚數</th>
                    <th>留言數</th>
                </tr>
            </thead>
            <tbody>
                <tr id="stats-row">
                    <td>{{ posts_amount }}</td>
                    <td>{{ likes_amount }}</td>
                    <td>{{ comments_amount }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="profile-container">
        <form action="/update_profile" method="POST">
            <label for="birthday">生日:</label>
            <input type="date" id="birthday" name="birthday" value=""><br><br>
        
            <label for="gender">性別:</label>
            <select id="gender" name="gender">
                <option value="男" selected>男</option>
                <option value="女">女</option>
                <option value="None">None</option>
            </select><br><br>

            <label for="bio">自我介紹:</label>
            <textarea id="bio" name="bio"></textarea><br><br>

            <label for="website_href">個人網站連結:</label>
            <textarea id="website_href" name="website_href"></textarea><br><br>
        
            <button type="submit">更新資料</button>
        </form>    
    </div>
    <script src="{{ url_for('static', filename='profile.js') }}"></script>
    <script src="{{ url_for('static', filename='navbar.js') }}"></script>
    <script>
        // Define global variable to pass 'username' from Flask session to external JS
        window.username = "{{ session['username'] if 'username' in session else 'Guest' }}";
    </script>
</body>
</html>
